<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
        integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue Boolzapp</title>
</head>

<body>
    <!-- Main with the Main Container -->
    <main class="container">

        <!-- div with Container Left -->

        <!-- Account Part -->
        <div class="container_left">
            <div class="left_sections">
                <div class="account">

                    <div class="user">
                        <img class="profile_img" src="./assets/img/avatar_io.jpg" alt="user image">
                        <strong class="user_name">Sofia</strong>
                    </div>

                    <div class="actions">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- /Account Part -->

                <!-- Notifications Part -->
                <div class="notifications">
                    <div class="bell">
                        <i class="fa-regular fa-bell-slash"></i>
                    </div>
                    <div class="notification_text">
                        <strong>Ricevi notifiche di nuovi messaggi</strong>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- /Notifications Part -->

                <!-- Search Part -->
                <section class="search">
                    <div class="search_box">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input id="search" type="text" name="nome" placeholder=" Cerca o inizia una nuova chat">
                    </div>
                </section>
                <!-- /Search Part -->

                <!-- Contacts Part -->
                <div id="contacts">
                    <section class="contacts" @click="next()" v-for="contact in contacts">
                        <!-- <img class="profile_img" src="./assets/img/avatar_1.jpg" alt=""> -->
                        <img class="profile_img" v-bind:src="contacts[activeImage].image" alt="" />
                        <div class="meta">
                            <div class="img_text">
                                <strong class="name">{{contact.name}}<p class="hour">{{contact.hour}}</p></strong>
                                <div class="contacts_text">{{contact.message}}</div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- TODO: Search how to fix the images -->

                <!-- /Contacts Part -->

            </div>
        </div>
        <!-- /div with Container Left -->

        <!-- div with Container Right -->

        <!-- Account Part -->
        <div class="container_right">
            <div class="right_sections">
                <section class="contact_name">
                    <img class="profile_img" src="./assets/img/avatar_1.jpg" alt="">
                    <div class="utility">
                        <div>
                            <strong class="name">Michele</strong>
                            <p id="access">Ultimo accesso oggi alle 16:26</p>
                        </div>
                        <div class="utilitys">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </section>
                <!-- /Account Part -->

                <!-- Messages Part -->

                <section class="messages">
                    <div class="sent">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit officia minus tempore delectus
                        commodi illum temporibus voluptates iste nostrum laudantium.
                    </div>
                    <div class="recived">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio placeat cum voluptate recusandae
                        repellendus praesentium atque culpa possimus quaerat eaque?
                    </div>
                </section>

                <!-- Try to use message in messages doing another createApp in Js -->
                <!-- <section class="messages" v-for="contact in contacts">
                    <div class="sent">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit officia minus tempore delectus
                        commodi illum temporibus voluptates iste nostrum laudantium.
                    </div>
                    <div class="recived">
                        {{contact.message}}
                    </div> -->

            </div>
            <!-- /Messages Part -->

            <!-- Messages Box Part -->
            <div class="message_box">
                <div class="smile">
                    <i class="far fa-smile"></i>
                </div>
                <div class="message">
                    <input type="text" placeholder="Scrivi un messaggio">
                </div>
                <div class="microphone">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
        </div>
        <!-- /Messages Box Part -->

        <!-- div with Container Right -->

    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>